<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import FormField from '@/Components/FormField.vue';
import GoogleMaps from '@/Components/GoogleMaps.vue';
</script>
<template>
    <AppLayout title="Home">
        <div class="flex">
            <div class="w-490px flex-grow-0">
                <form class="form--contacts">
                    <legend data-translatable="contact_form_title">Send a message</legend>
                    <fieldset>
                        <form-field
                            v-model="form.name"
                            :label="translationData.name_field_label"
                            type="text"
                            class="mb-8"
                        />

                        <form-field
                            v-model="form.email"
                            :label="translationData.email_field_label"
                            type="email"
                            class="mb-8"
                        />

                        <form-field
                            v-model="form.message"
                            :label="translationData.message_field_label"
                            type="textarea"
                            class="mb-8"
                        />
                        <button type="submit" class="btn btn-primary btn-rounded btn-full" data-translatable="contact_form_button_text" @click="submit">Send</button>
                    </fieldset>
                </form>

                <google-maps
                    :lat="translationData.latitude"
                    :lng="translationData.longitude"
                    :zoom="4"
                    class="h-300px"
                />
            </div>

            <div class="flex-1 pl-8">
                <div class="max-w-3/5">
                    <h1 class="uppercase text-4xl font-black leading-none mb-10" data-translatable="contact_me_title">
                        Contact me
                    </h1>

                    <div class="p-6 shadow-lighter mb-8">
                        <p class="font-bold mb-2" data-translatable="email_title">Email</p>
                        <a :href="'mailto:' + translationData.email" class="hover:underline"
                        >{{ translationData.email }}</a
                        >
                    </div>

                    <div class="p-6 mb-8">
                        <p class="font-bold mb-2" data-translatable="phone_title">Phone</p>
                        <a :href="'tel:' + this.clearPhone(translationData.phone)" class="hover:underline"
                        >{{ translationData.phone }}</a
                        >
                    </div>

                    <div class="p-6">
                        <p class="font-bold mb-2" data-translatable="address_title">Addresss</p>
                        <p>{{ translationData.address }}</p>
                    </div>
                </div>
            </div>
        </div>
    </AppLayout>
</template>

<script>
export default {
    data() {
        return {
            form: {
                name: '',
                email: '',
                message: ''
            },
            translationKeys: ['email', 'phone', 'address', 'latitude', 'longitude', 'name_field_label', 'email_field_label', 'message_field_label'],
            translationData: {},
        }
    },
    created() {
        fetch("/api/v1/translations", {
            method: "POST",
            body: JSON.stringify({
                keys: this.translationKeys,
            }),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        })
            .then(async response => {
                const data = await response.json();
                if (!response.ok) {
                    const error = (data && data.message) || response.statusText;
                    return Promise.reject(error);
                }
                this.translationData = this.formatSocialData(data.result);
            })
            .catch(error => {
                this.errorMessage = error;
            });
    },
    methods: {
        formatSocialData(socialData) {
            return socialData.reduce(function (r, e) {
                r[e.key] = e.value;
                return r;
            }, {})
        },
        clearPhone(phone) {
            return phone.replace(/[^+\d]+/g, "")
        },
        submit() {
            fetch("/api/v1/contact", {
                method: "POST",
                body: JSON.stringify({
                    name: form.name,
                    email: form.email,
                    message: form.message,
                }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            })
                .then(async response => {
                    const data = await response.json();
                    if (!response.ok) {
                        const error = (data && data.message) || response.statusText;
                        return Promise.reject(error);
                    }
                    this.translationData = this.formatSocialData(data.result);
                })
                .catch(error => {
                    this.errorMessage = error;
                });
        }
    }
}
</script>
