<script setup>
    import AppLayout from '@/Layouts/AppLayout.vue';
</script>
<template>
    <AppLayout title="Home">
      <div class="flex items-center">
        <div class="w-490px flex-grow-0">
          <div
            id="photo"
            class="bg-center bg-white bg-cover bg-no-repeat pb-150 shadow"
          ></div>
        </div>
        <div v-mouse-move class="flex-1 pl-8 pt-16">
          <h1
            class="text-black uppercase font-extrabold text-4xl leading-none mb-5"
          >
            <span data-translatable="first_name"></span>
            <div class="relative">
              <div
                class="absolute w-120px right-100 top-50 border-blue border-b-5 line-transform"
              ></div>
              <span class="text-blue" data-translatable="last_name"></span>
            </div>
          </h1>
          <h2 class="mb-2" data-translatable="position"></h2>
          <p class="text-gray" data-translatable="about_me">
          </p>
        </div>
      </div>
    </AppLayout>
</template>


<script>
import { mouseMove } from '@/utils/directives'

export default {
  directives: {
    mouseMove
  },
}
</script>

<style scoped>
.line-transform {
  transform: translate(-25px, -50%);
}
#photo {
  background-image: url('https://picsum.photos/id/237/200/300');
}
</style>
