<script setup>
    import AppLayout from '@/Layouts/AppLayout.vue';
</script>
<template>
    <AppLayout title="Home">
    <h1 class="title" data-translatable="portfolio_title">Portfolio</h1>
    <div class="row no-gutters portfolio">
        <div class="col-md-6 col-lg-6 col-xl-4 col-xxl-6 inline-flex" v-for="project in projects"
             @mouseover="addHoverClass"
        >
            <div class="portfolio__item"
                 :style="'background-image: url(' + project.image + '?w=780);'"
                 >
                <div class="item__content">
                    <p class="item__title">
                        <a :href="project.link" target="_blank">
                            <i class="fa fa-link"></i> <span>{{ project.title }}</span></a></p>
                    <div class="clearfix"></div>
                    <p class="item__desc" v-html="project.description"></p></div>
            </div>
        </div>
    </div>
    </AppLayout>
</template>

<script>
export default {
    data() {
        return {
            projects: [],
            errorMessage: '',
            isHovering: false
        }
    },
    created() {
        fetch("/api/v1/projects", {
            method: "POST",
            body: JSON.stringify({
                keys: this.translationKeys,
            }),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        })
            .then(async response => {
                const data = await response.json();
                if (!response.ok) {
                    const error = (data && data.message) || response.statusText;
                    return Promise.reject(error);
                }

                this.projects = data.result;
            })
            .catch(error => {
                this.errorMessage = error;
            });
    },
    methods: {
        addHoverClass(event) {
            let element = event.target
            element.classList.add('hovering')
        },
        removeHoverClass(event) {
            let element = event.target
            element.classList.remove('hovering')
        }
    }
}
</script>
