<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
</script>
<template>
    <AppLayout title="Home">
        <div>
            <section>
                <h2 class="title" data-translatable="technologies_block_title">Tech I use</h2>
                <p class="text-muted"><em data-translatable="technologies_block_subtitle">I'm always excited to learn some new technology!</em></p>
                <div class="brands row">
                    <div v-for="technology in technologies" class="brand-item col-lg-1 col-md-2 col-sm-2 col-3 ">
                        <a :href="technology.link" target="_blank" class="technology-link" :class="technology.icon" :title="technology.title"></a>
                    </div>
                </div>
            </section>
            <section>
                <h1 class="title title--spaced" data-translatable="experience_block_title">Experience</h1>
                <div class="list-group list-group-vertical">
                    <div class="list-group-item" v-for="experience in experiences">
                        <p class="item-date">{{ experience.from }} - {{ experience.to }}</p>
                        <p class="item-title">{{ experience.company }}</p>
                        <p class="text-muted">{{ experience.position }}</p>
                        <p class="text-muted" v-html="experience.description"></p>
                    </div>
                </div>
            </section>
            <section>
                <h2 class="title title--spaced" data-translatable="education_block_title">Education</h2>
                <div class="list-group list-group-vertical">
                    <div class="list-group-item" v-for="school in education">
                        <p class="item-date">{{ school.from }}-{{ school.to }}</p>
                        <p class="item-title">{{ school.title }} | {{ school.description }}</p>
                        <p class="text-muted">{{ school.speciality }}</p>
                    </div>
                </div>
            </section>
        </div>
    </AppLayout>
</template>

<script>
export default {
    data() {
        return {
            isOpen: false,
            technologies: [],
            experiences: [],
            education: [],
            errorMessage: '',
        }
    },
    created() {
        fetch("/api/v1/technologies",
            {
                method: "POST",
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            })
            .then(async response => {
                const data = await response.json();
                if (!response.ok) {
                    const error = (data && data.message) || response.statusText;
                    return Promise.reject(error);
                }

                this.technologies = data.result;
            })
            .catch(error => {
                this.errorMessage = error;
            });
        fetch("/api/v1/experience", {
            method: "POST",
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        })
            .then(async response => {
                const data = await response.json();
                if (!response.ok) {
                    const error = (data && data.message) || response.statusText;
                    return Promise.reject(error);
                }

                this.experiences = data.result;
            })
            .catch(error => {
                this.errorMessage = error;
            });
        fetch("/api/v1/education", {
            method: "POST",
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        })
            .then(async response => {
                const data = await response.json();
                if (!response.ok) {
                    const error = (data && data.message) || response.statusText;
                    return Promise.reject(error);
                }

                this.education = data.result;
            })
            .catch(error => {
                this.errorMessage = error;
            });
    },
}
</script>
