@import "links.scss";
@import "transitions.scss";
@import "icons.scss";
@import "fonts.scss";

html, body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
}
.text-white {
    color: #fff;
}

.title {
    color: inherit;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 20px;
    -webkit-transition: color .25s;
    transition: color .25s;
}

.brands {
    padding-bottom: 40px;
}
.brands .brand-item {
    margin: 20px;
    display: inline;
    align-items: center;
    filter: grayscale(100);
    transition: filter .25s;
}

.img-fluid, .img-thumbnail {
    max-width: 100%;
    height: auto;
}

section {
    display: block;
}

.title.title--spaced {
    margin-bottom: 45px;
}
.title {
    color: inherit;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 20px;
    -webkit-transition: color .25s;
    transition: color .25s;
}


.list-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.list-group .list-group-item {
    -webkit-box-shadow: 0 8px 45px rgba(0,0,0,.15);
    box-shadow: 0 8px 45px rgba(0,0,0,.15);
    margin-bottom: 30px;
    background: none;
    border: 0;
    padding: 25px;
    display: block;
    position: relative;
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
}
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.list-group-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

@media (min-width: 576px) {
    .list-group .list-group-item .item-date {
        font-size: 14px;
        color: #566075;
    }
    .list-group .list-group-item p {
        margin-bottom: 10px;
    }
}

.list-group .list-group-item .item-title {
    font-weight: 700;
    display: block;
}
.list-group .list-group-item p {
    margin-bottom: 10px;
}

.list-group .list-group-item > :last-child {
    margin-bottom: 0;
}
.list-group .list-group-item p {
    margin-bottom: 10px;
}
.text-muted {
    color: #566075 !important;
}
@media (min-width: 576px) {
    .list-group .list-group-item .item-date {
        font-size: 14px;
        position: absolute;
        top: -15px;
        right: -25px;
        background: #4c33fb;
        padding: 10px 25px;
        font-weight: 600;
        color: #fff;
        box-shadow: 0 -2px 5px rgba(0,0,0,.2);
        transition: opacity .25s,transform .25s;
        margin-bottom: 0;
    }
}
@media (min-width: 992px) {
    .list-group.list-group-vertical .list-group-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.technology-link {
    font-size: 130px;
    transition: 0.3s;
}
.technology-link:hover {
    color: rgb(76, 51, 251);
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.portfolio .portfolio__item {
    width: 100%;
    padding-bottom: 68%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    filter: grayscale(.5);
    box-shadow: 0 8px 45px transparent;
    transition: filter .4s,box-shadow .4s,opacity .4s;
}

.portfolio .portfolio__item .item__content {
    position: absolute;
    z-index: 2;
    left: 0;
    width: 100%;
    top: 0;
    padding: 35px 45px 40px;
    color: #fff;
    transform: translateY(50%);
    opacity: 0;
    transition: transform .35s,opacity .35s;
}

.portfolio .hovering .item__content {
    opacity: 1;
    background: rgba(100,100,100,0.5);
}

.portfolio .portfolio__item .item__content .item__title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
}
.portfolio .portfolio__item .item__content .item__title a:hover {
    color: #0b4d75;
}

.portfolio .portfolio__item .item__content .item__title a span {
    position: relative;
}

.no-gutters > .col, .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}
@media (min-width: 1280px) {
    .col-xxl-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 1200px) {
    .col-xl-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333333%;
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%;
    }
}
@media (min-width: 992px) {
    .col-lg-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (min-width: 768px) {
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (min-width: 1200px) {
    .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xxl, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12 {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width: 992px) {
    .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xxl, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12 {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width: 768px) {
    .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xxl, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12 {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width: 576px) {
    .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xxl, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12 {
        padding-right: 15px;
        padding-left: 15px;
    }
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xxl, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
#page #page-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-bottom: 45px;
    width: 100%;
}

body {
    font-family: Nunito Sans,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2b303a;
}

.form--contacts {
    background: #2b303a;
    padding: 45px;
}

.form-group {
    position: relative;
    margin-bottom: 35px;
    padding-bottom: 5px;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

.form--contacts legend {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 45px;
}
legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
}
legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal;
}

[type="text"], [type="email"], [type="url"], [type="password"], [type="number"], [type="date"], [type="datetime-local"], [type="month"], [type="search"], [type="tel"], [type="time"], [type="week"], [multiple], textarea, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0px;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
}

.form--contacts .form-group .form-control {
    color: #a7aebd;
}
.form-group .form-control {
    background: 0;
    padding: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0;
    font-family: Nunito Sans,sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
}
.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ddd;
    border-radius: 0;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.form-group label {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    left: 0;
    margin-bottom: 0;
    -webkit-transition: transform .25s,font .25s,color .25s;
    transition: transform .25s,font .25s,color .25s;
}
.form--contacts label {
    color: #8993a8;
}

.form-group.invalid .form-control__helper {
    border-color: #e72f40;
}
.form--contacts .form-group .form-control__helper {
    border-color: #8993a8;
}
.form-group .form-control__helper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #2b303a;
    border-bottom-color: rgb(43, 48, 58);
}
.form-group .form-message {
    position: absolute;
    bottom: 100%;
    right: 0;
    margin-bottom: -5px;
    background: #e72f40;
    padding: 5px 8px;
    font-size: 14px;
    color: #fff;
}

.btn-full {
    display: block;
    width: 100%;
}
.btn-rounded {
    border-radius: 30px;
}
.btn {
    text-transform: uppercase;
    line-height: normal;
    font-weight: 800;
    font-family: Nunito Sans,sans-serif;
    letter-spacing: 4px;
    padding: 1rem;
    border: 0;
}
.btn-primary {
    color: #fff;
    background-color: #4c33fb;
    border-color: #4c33fb;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
