<script setup>
import Burger from '@/Components/Burger.vue'
</script>

<template>
  <div>
    <div class="absolute right-0 top-0">
      <Burger v-model="isOpen" :value="isOpen" class="z-20" @click="toggleStatus" />
    </div>

    <transition name="fadeScale">
      <div
        v-if="isOpen"
        class="fixed inset-0 z-10 bg-black-90 flex justify-center items-center p-8"
      >
        <nav>
          <ul>
            <li v-for="link in links" :key="link.to" @click="isOpen = false">
                <a :href="link.route"
                   class="relative uppercase text-3xl text-white text-center font-bold px-10 py-2 block hover:border"
                >{{ link.title }}</a>
            </li>
          </ul>
        </nav>
      </div>
    </transition>
  </div>
</template>

<script>
// import { links } from '@/utils/lists'

export default {
  data() {
    return {
        isOpen: false,
        links: [],
        errorMessage: '',
    }
  },
 methods: {
     toggleStatus() {
         this.isOpen = !this.isOpen
         return this.isOpen;
     }
 },
    created() {
        fetch("/api/v1/pages",{
            method: "POST",
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        })
            .then(async response => {
                const data = await response.json();
                // check for error response
                if (!response.ok) {
                    // get error message from body or default to response statusText
                    const error = (data && data.message) || response.statusText;
                    return Promise.reject(error);
                }

                this.links = data.result;
            })
            .catch(error => {
                this.errorMessage = error;
                console.error("There was an error!", error);
            });
    }
}
</script>
