<script setup>
import Logo from '@/Components/Logo.vue'</script>
<template>
  <aside class="w-280px p-10 flex flex-col justify-between bg-blue text-white">
    <header class="mb-5">
      <Logo />
    </header>
    <footer>
      <dl class="mb-4">
        <dt class="font-bold" data-translatable="email_title"></dt>
        <dd>
          <a :href="'mailto:' + socialData.email">{{socialData.email}}</a>
        </dd>
      </dl>

      <dl class="mb-4">
        <dt class="font-bold" data-translatable="phone_title"></dt>
        <dd><a v-if="socialData.phone" :href="'tel:' + clearPhone(socialData.phone)">{{ socialData.phone }}</a></dd>
      </dl>

      <dl>
        <dt class="font-bold" data-translatable="social_title">Find me on</dt>
        <dd>
          <ul class="flex">
            <li v-if="socialData.linkedin_link" class="mr-4">
              <a
                :href="socialData.linkedin_link"
                target="_blank"
                rel="noopener"
                aria-label="Get to know be better via Linkedin"
              >
                  <img src="/" class="icon-opensource" alt="linkedin">
              </a>
            </li>
          </ul>
        </dd>
      </dl>
    </footer>
  </aside>
</template>

<script>

export default {
  data() {
    return {
      socialKeys: ['email', 'phone', 'linkedin_link', 'cv_link'],
      socialData: {},
    }
  },
    created() {
        fetch("/api/v1/translations", {
            method: "POST",
            body: JSON.stringify({
                keys: this.socialKeys,
                }),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
                    })
            .then(async response => {
                const data = await response.json();
                if (!response.ok) {
                    const error = (data && data.message) || response.statusText;
                    return Promise.reject(error);
                }
                this.socialData = this.formatSocialData(data.result);
            })
            .catch(error => {
                this.errorMessage = error;
            });
    },
    methods: {
      formatSocialData(socialData) {
          return socialData.reduce(function (r, e) {
              r[e.key] = e.value;
              return r;
          }, {})
      },
        clearPhone(phone) {
          return phone.replace(/[^+\d]+/g, "")
        }
    }
}
</script>

<style scoped>
    aside {
        max-height: 100vh;
    }
</style>
