<script setup>
import {ref} from 'vue';
import {Inertia} from '@inertiajs/inertia';
import {Head, Link} from '@inertiajs/inertia-vue3';
import Sidebar from '@/Components/AppSidebar.vue'
import Menu from '@/Components/AppMenu.vue'

</script>
<template>
    <div id="page">


    <Head/>

    <div class="flex">
        <Sidebar/>
        <div id="page-container">

        <div class="p-10 flex-1 bg-white pb-12 relative">
            <div
                class="w-0 absolute top-0 left-0 h-full bg-blue transition-width-250"
                :class="{ 'w-185px': expandSidebar }"
            ></div>
            <div class="relative">
                <Menu/>
                <header v-if="$slots.header" class="bg-white shadow">
                    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                        <slot name="header"/>
                    </div>
                </header>

                <!-- Page Content -->
                <main id="content">
                    <slot/>
                </main>
            </div>
        </div>
    </div>
    </div>
    </div>
</template>


<script>
export default {
    data() {
        return {
            translationKeys: [],
            translations: {}
        }
    },
    mounted() {
        this.collectTranslationKeys();
        this.getTranslations();
    },
    computed: {
        expandSidebar() {
            return ['/index', '/contact'].includes(window.location.pathname)
        }
    },
    methods: {
        collectTranslationKeys: function () {
            let elements = document.querySelectorAll('[data-translatable]');
            elements.forEach((value, index) => {
                this.translationKeys.push(value.dataset.translatable)
            })
        },
        getTranslations: function () {
            fetch("/api/v1/translations", {
                method: "POST",
                body: JSON.stringify({
                    keys: this.translationKeys,
                    _token: this.$page.props.csrf_token
                }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            })
                .then(async response => {
                    const data = await response.json();
                    if (!response.ok) {
                        const error = (data && data.message) || response.statusText;
                        return Promise.reject(error);
                    }

                    this.translations = data.result;
                    this.fillTranslations();
                })
                .catch(error => {
                    this.errorMessage = error;
                });
        },
        fillTranslations: function () {
            if (this.translations.length > 0) {
                this.translations.forEach((value, index) => {
                    document.querySelector('[data-translatable="' + value.key + '"]').innerHTML = value.value
                })
            }
        }
    }
}
</script>
